<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Types Dashboard</title>
    <meta name="description" content="The new place where to define the Connected Home">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/60bf0314.vendor.css"/>

    <link rel="stylesheet" href="styles/4d1f8a4c.main.css"/>

    <style>
      .ng-cloak { display: none !important; }
    </style>
  </head>

  <body ng-app="app" ng-init="loading=true">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=290505931149694&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- ------------ --
    <!--  Preloading  --
    <!-- ------------ -->

    <div class="preloading" ng-show="loading">
      <div class="logo"></div>
      <div class="spinner"><div class="bounce-1"></div><div class="bounce-2"></div><div class="bounce-3"></div></div>
      <p class="description">Loading<p>
    </div>

    <!-- ------------- --
    <!-- App Container --
    <!-- ------------- -->

    <div class="app ng-cloak" ng-class="{ demo: demo }" ng-controller="MainCtrl" ng-show="!loading">

      <div class="header" ng-if="!embed">

        <!-- Left menu -->

        <a class="logo" href="#" ng-show="menu.visible.lelylan">
          Types Dashboard
        </a>
        <a class="back" href=""  ng-show="menu.visible.categories" ng-click="moveToCategories()"><span class="fa fa-angle-left"></span> Categories</a>  <!-- -->
        <a class="back" href=""  ng-show="menu.visible.list" ng-click="moveToTypes()"><span class="fa fa-angle-left"></span> {{currentCategory.name}}</a>  <!-- -->
        <div class="spinner" id="spinner"><div class="bounce-1"></div><div class="bounce-2"></div><div class="bounce-3"></div></div>

        <!-- Right menu -->

        <div class="menu">
          <a href="#create" ng-if="logged()"><span class="menu-icon fa fa-plus"></span> <span class="text">Create</span></a>  <!-- hack inline block -->
          <oauth
          template="views/templates/oauth-ng-menu.html"
          scope="resources+privates"
          site="{{credentials.site}}"
          client-id="{{credentials.clientId}}"
          redirect-uri="{{credentials.redirectUri}}"
          profile-uri="{{credentials.profileUri}}">
          </oauth>
        </div>
      </div>

      <div class="typology" ng-if="!embed">
        <ul ng-if="page!='type'">
          <li ng-class="{ 'active': typology == 'populars' }">
            <a href="" ng-click="setTypology('populars')"><i class="fa fa-star-o"></i> Populars</a>
          </li>
          <li ng-class="{ 'active': typology == 'recents' }">
            <a href="" ng-click="setTypology('recents')"><i class="fa fa-clock-o"></i> Recents (50)</a>
          </li>
          <li ng-if="logged()" ng-class="{ 'active': typology == 'yours' }">
            <a href="" ng-click="setTypology('yours')"><i class="fa fa-user"></i> Yours</a>
          </li>
        </ul>
        <ul ng-if="page=='type'">
          <li ng-class="{ 'active': typology == 'populars' }">
          <a href="javascript:window.history.back() || '#'" class="back"><i class="fa fa-chevron-left"></i> Go back to previous page</a>
          </li>
        </ul>
      </div>

      <div class="container" ng-view=""></div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="scripts/003619e3.vendor.js"></script>

    <script src="scripts/0d8ff501.scripts.js"></script>


    <script>
      angular.module('app', ['lelylan.dashboards.type']);

      angular.module('app').config(function($locationProvider, lelylanClientConfigProvider, ENV) {
        lelylanClientConfigProvider.configure({ endpoint: ENV.endpoint });
      });

    </script>
</body>
</html>
