<div class="home presentation">

  <h1 class="title">Lelylan Types</h1>

  <h2 class="subtitle">
    Defining the devices you interact with<br>in an open and collaborative way
  </h2>

  <div>
    <ul class="ch-grid">
      <li>
      <div class="ch-item ch-img-1">
        <div class="ch-info">
          <h3><a class="rounded search" href="/popular">Search a type</a></h3>
        </div>
      </div>
      </li>
      <li>
      <div class="ch-item ch-img-2">
        <div class="ch-info">
          <h3><a class="rounded create" href="/new">Create a new type</a></h3>
        </div>
      </div>
      </li>
    </ul>
  </div>

  <div class="description">

    <p class="lead summary">
    <strong>What is a type?</strong>
    A type is a resource that describes the structure of a device. <br>
    In its simplest form every type can be defined as the combination of three key elements:
    <strong>properties</strong> which represents what vary during time,
    <strong>functions</strong> which represents what a device can do and
    <strong>statuses</strong> which represents what a device is in a specific moment.</br>
    </p>

    <p class="lead">
      <a class="btn btn-large btn-lelylan" href="/what">Learn more about</a> or
      <a class="btn btn-large btn-lelylan" href="/popular">Search a type</a>
    </p>
  </div>
</div>
