<div class="how presentation">

  <h1 class="title">How to create a type</h1>

  <div class="description">

    <p class="lead">
    In this section we explain how to create a type. Even so, as the time passes, you will
    find more and more type already defined. For this reason we highly suggest to double check
    for existing types in the <a href="/popular">popular section</a> or in the categories.
    This could save you some time.
    </p>

    <h2 id="create">Creating a new type</h2>

    <p class="lead">
    Click <a href="/new">create type</a> and fill the form with a name and
    an optional description (accepts <a href="http://daringfireball.net/projects/markdown/syntax#link">markdown</a> syntax).
    To let other people easily find and use a type, set a meaningful name and a clear description.
    </p>

    <div class="overlay">
      <div class="ao-item oo-item-create">
        <div class="ao-preview">
          <img src="/images/how/create.png">
          <div class="ao-annotations">
            <span style="top: 5%; left: 29%; width: 170px;" class="from-right">Create type link</span>
            <span style="top: 25%; left: -12%; width: 170px;">Meaningful type name</span>
            <span style="top: 40.5%; left: -17%; width: 200px;">Optional type description</span>
          </div>
        </div>
      </div>
    </div>


    <h2 id="properties">Properties</h2>

    <p class="lead">
    Now lets focus to the type properties. A property is whatever vary in a device during time.
    It can be the intensity in a dimmer, the temperature in a cooling system or the volume in a
    television.

    Supposing we want to create a basic light where I can change it status (on/off) and where
    I can decide the light intensity, we are defining a light with two properties:
    <code>status</code> and <code>intensity</code>.
    </p>

    <div class="overlay">
      <div class="ao-item">
        <div class="ao-preview oo-item-property-create">
          <img src="/images/how/property-create.png">
          <div class="ao-annotations">
            <span style="top: 77%; left: 26%; width: 170px;" class="from-right">Create property link</span>
          </div>
        </div>
      </div>
    </div>

    <p class="lead">
    To create a property click <code>create property</code> and fill the form with the required
    field.
    </p>

    <ul>
      <li>Name - property name.</li>
      <li>Type - accepted property value type (strings, colors, numbers and ranges).</li>
      <li>Default - property value assigned to the device when initialized.</li>
      <li>Accepts - accepted value/description pairs (visible when type is <code>string</code>). <a href="http://dev.lelylan.com/community/faq#suggested-values">Learn more</a></li>
      <li>Range - accepted values defined between a min, max and step value. Visible when type is <code>range</code>.</li>
    </ul>

    <p class="lead">
    Going back to our basic light example, the property <code>status</code> accepts string
    values <code>on</code> and <code>off</code> (which pairs with <code>On</code> and
    <code>Off</code> in visualization) and by default sets the device property to
    <code>on</code> when a device is initialized with this type.
    </p>

    <div class="overlay">
      <div class="ao-item">
        <div class="ao-preview oo-item-property-create">
          <img src="/images/how/property-status.png">
          <div class="ao-annotations">
            <span style="top: 30%; left: -68%; width: 220px;">Status accepts string values</span>
            <span style="top: 42.5%; left: 40%; width: 180px;" class="from-right">Default value to on</span>
            <span style="top: 55%; left: -50.5%; width: 150px;">Accepted values</span>
          </div>
        </div>
      </div>
    </div>

    <p class="lead">
    Another example is the property <code>intensity</code> where the main difference is that
    it does not accept string values but a range value from 0 to 100 with a step of 1.
    </p>

    <div class="overlay">
      <div class="ao-item">
        <div class="ao-preview oo-item-property-create">
          <img src="/images/how/property-intensity.png">
          <div class="ao-annotations">
            <span style="top: 32%; left: -68%; width: 230px;">Intensity accepts string values</span>
            <span style="top: 46%; left: 40%; width: 180px;" class="from-right">Default value to 100</span>
            <span style="top: 59.5%; left: -60.5%; width: 190px;">Accepted range values</span>
          </div>
        </div>
      </div>
    </div>

    <p class="lead">
    <span class="label label-info">NOTICE</span>
    To better understand how properties work check out <a href="http://dev.lelylan.com/api/types/properties">Lelylan Properties API</a>.
    </p>



    <h2 id="functions">Functions</h2>

    <p class="lead">
    Once defined the properties lets move to the functions. Functions defines the daily
    interactions you have with the devices in your house like turning on a light, closing
    a door or raising the temperature in your room. With functions you can control any
    device in the same way you do everyday of your life.
    </p>

    <p class="lead">
    With a function you can update one or more properties by setting a fixed value or
    by leaving the value empty. In the last case, when the function is executed, the value
    is asked to the user. For example, our basic light has three functions.
    </p>

    <ul>
      <li>Turn on - set the property <code>status</code> to <code>on</code></li>
      <li>Turn off - set the property <code>status</code> to <code>off</code></li>
      <li>Set intensity - set the property <code>intensity</code> with a value given by the user</li>
    </ul>

    <div class="overlay">
      <div class="ao-item">
        <div class="ao-preview oo-item-property-create">
          <img src="/images/how/function-create.png">
          <div class="ao-annotations">
            <span style="top: 17%; left: 33%; width: 190px;" class="from-right">Go to functions section</span>
            <span style="top: 76%; left: 26%; width: 170px;" class="from-right">Create new function</span>
          </div>
        </div>
      </div>
    </div>

    <p class="lead">
    To create a function go into the function section and click <code>create new function</code>.
    A form will pop up and the following fields will be required.
    </p>

    <ul>
      <li>Name - function name.</li>
      <li>Property - value associated to the property (when empty the value must be filled by the user)</li>
    </ul>

    <p class="lead">
    Going back to our basic light example, the function <code>turn on</code> sets the property
    status to <code>on</code>. This means that no interactions with the user are required when
    executing the function.
    </p>

    <div class="overlay">
      <div class="ao-item">
        <div class="ao-preview oo-item-property-create">
          <img src="/images/how/function-turn-on.png">
          <div class="ao-annotations">
            <span style="top: 41%; left: 101.5%; width: 180px;" class="from-right">Set status value to on</span>
          </div>
        </div>
      </div>
    </div>

    <p class="lead">
    Another example is the function <code>set intensity</code> where the main difference is that
    the property intensity is not set to any value. This convention means that an interactions
    with the user is required to set the light intensity before executing the function.
    </p>

    <div class="overlay">
      <div class="ao-item">
        <div class="ao-preview oo-item-property-create">
          <img src="/images/how/function-set-intensity.png">
          <div class="ao-annotations">
            <span style="top: 41%; left: 101.5%; width: 200px;" class="from-right">Leave intensity value empty</span>
          </div>
        </div>
      </div>
    </div>

    <p class="lead">
    <span class="label label-info">NOTICE</span>
    To better understand how functions work check out <a href="http://dev.lelylan.com/api/types/functions">Lelylan Functions API</a>.
    </p>

  </div>
</div>
