<div class="how presentation">

  <h1 class="title">How to create a type</h1>

  <div class="description">

    <p class="lead">
    To create a new type you need to click "create type". If signed in, a form asking you for a
    name and a description will show up.
    </p>

    <img src="/images/how-1.png" class="img-polaroid">

    <h2>Properties</h2>

    <p class="lead">
    Once you have filled the required information you are asked to create the type properties.
    For a light they could be <code>status</code>, <code>intensity</code>, <code>color</code>
    and <code>blinking times</code>.
    </p>

    <img src="/images/how-2.png" class="img-polaroid">

    <p class="lead">
    To add a new property click "create new property". A modal form will appear
    asking for the following params.
    </p>

    <table class="table">
      <tbody>
        <tr>
          <td>Name</td>
          <td>A descriptive name for the property</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>
            Property accepted values as <code>text</code>,
            <code>number</code>, <code>range</code> and <code>color</code>.
          </td>
        </tr>
        <tr>
          <td>Default</td>
          <td>
            Value assigned to the device property when initialized.
          </td>
        </tr>
        <tr>
          <td>Suggested</td>
          <td>
            List of value/description pairs (visible when type is not set to range).
            Learn more on <a href="http://dev.lelylan.com/community/faq#suggested-values">dev center</a>.
          </td>
        </tr>
        <tr>
          <td>Range</td>
          <td>
            Accepted values defined between a min, max and step value
            (visible when type is set to range).
          </td>
        </tr>
    </table>

    <img src="/images/how-3.png" class="img-rounded">

    <p class="lead">
    Below you can see a couple of examples defining for a light the properties status and intensity.
    To better understand how properties works <a href="/popular">check out some defined types</a>
    or learn more about <a href="http://dev.lelylan.com/api/types/properties">Lelylan Properties API</a>
    (in private beta).
    </p>

  </div>
</div>
