<div class="create">
  <div class="search">
    <h1>Create type</h1>
  </div>

  <hr/>

  <div ng-show="authorized">
    <form class="compact" name="form">
      <div class="type-name control-group" ng-class="{error: form.name.$invalid}">
        <div class="input-prepend">
          <span class="add-on">Name</span>
          <input class="input-xxlarge" type="text" name="name" ng-model="type.name" placeholder="Type name (required)" required><br/>
        </div>
      </div>
      <div class="type-description control-group">
        <div class="input-prepend">
          <span class="add-on">Description</span>
          <textarea class="input-xxlarge" rows="4" name="description" ng-model="type.description" placeholder="Type description (optional)"></textarea><br/>
        </div>
        <small class="help-inline muted">Accepts <a href="http://daringfireball.net/projects/markdown/" target="blank">markdown</a> syntax</small>
      </div>
      <button class="create btn btn-lelylan" ng-click="create" ng-disabled="form.$invalid"><i class="icon-white icon-pencil"></i> Create</button>
    </form>
  </div>

  <!-- Authorization needed message -->

  <div class="alert alert-block" ng-show="!authorized">
    <p class="lead">To see your types you first need to <strong>Sign In</strong>.</p>
  </div>
</div>
