<div class="types-view">
  <div class="search">
    <input class="search-query" type="text" ng-model="query" placeholder="Seach types (e.g light, lock)">
  </div>

  <hr/>

  <div class="types" ng-show="!loading && authorized && types.length!=0">
    <div class="type type-{{type.id}}" ng-repeat="type in types | filter:query">
      <div class="row">
        <div class="span6">
          <h1 class="name"><a href="/types/{{type.id}}">{{type.name}}</a></h1>
        </div>
        <div class="categories span2">
          <ul class="nav nav-pills pull-right">
            <li ng-repeat="category in type.categories"><a class="{{category}}" href="/categories/{{category}}">#{{category}}</a></li>
          </ul>
        </div>
      </div>
      <hr/>
    </div>
  </div>

  <!-- Authorization needed message -->

  <div class="authorization alert alert-block" ng-show="!authorized">
    <p class="lead">To see your types you first need to <strong>Sign In</strong>.</p>
  </div>

  <!-- Loading types message -->

  <div class="loading alert alert-block" ng-show="loading && authorized">
    <p class="lead">Loading resources...</p>
  </div>

  <!-- No types found -->
  <div class="empty alert alert-block" ng-show="!loading && authorized && types.length==0">
    <p class="lead">No types were found. Be the first to <a href="/new">create a new one</a>.</p>
  </div>
</div>
