<div class="search">
  <div class="input-append">
    <input class="input-xlarge" type="text" ng-model="query" placeholder="Seach a device type (e.g light, lock)">
    <span class="add-on"><a href="#"><i class="icon-search"></i> Search</a></span>
  </div>
</div>

<hr/>

<div class="types">
  <div class="type" ng-repeat="type in types | filter:query">
    <div class="row">
      <div class="span6">
        <h1 class="name"><a href="/types/{{type.id}}">{{type.name}}</a></h1>
        <div class="description" ng-bind-html-unsafe="type.description"></div>
      </div>
      <div class="categories span2">
        <ul class="nav nav-pills pull-right">
          <li ng-repeat="category in type.categories"><a href="/types/categories/{{category}}">#{{category}}</a></li>
        </ul>
      </div>
    </div>
    <hr/>
  </div>
</div>
