<div class="what presentation">

  <h1 class="title">What is Lelylan Types</h1>

  <div class="description">

    <p class="lead">
    Lelylan Types is a place where you can define and discuss the structure of any device type
    like lights, locks, cameras, sensors and more. Why? Because to create an open connected home
    where everything communicates we need an open and clear way to define how these devices work.
    </p>

    <img src="/images/what-search.png" class="img-polaroid" alt="Create type">

    <h3>The Pain</h3>
    <p class="lead">
      Right now we have dozens of standards: Wifi, Zigbee, Ethernet, Konnex, X10 to name some.
      If you want to let every device communicate between each other you will have hard time. This
      is one of the reasons why the connected home is not yet a reality.
    </p>

    <h3>The Solution</h3>
    <p class="lead">
      Our solution to this problem is to create a type, which in its simplest form can
      be defined as the combination of three key elements:
    </p>

    <ul>
      <li>Properties - what vary during time</li>
      <li>Functions - what a device can do</li>
      <li>Statuses - what a device is in a specific moment</li>
    </ul>

    <h3>A Simple Example</h3>
    <p class="lead">
      The simples example is the <a href="#">Basic Light</a> which can be defined as follow.
    </p>

    <ul>
      <li>Properties: <code>status</code> accepting values <code>on</code> and <code>off</code></li>
      <li>Functions: <code>turn on</code> and <code>turn off</code></li>
      <li>Statuses: <code>light on</code> and <code>light off</code></li>
    </ul>

    <p class="lead">
      Do you want to see some? Search between some of the <a href="/popular">existing types</a>.
    </p>

    <h3>How can I use a type</h3>
    <p class="lead">
    Types are not used only to define a device structure. You need them to let the physical
    world communicate with the web. If you are into connecting physical devices to the web
    read the article <a href="#">Building the Connected Light</a>.
    </p>

    <h3>Ad Hoc Types</h3>
    <p class="lead">
    Although we are trying to define a standard set of types we are aware of the fact that
    every need can be different. For this reason everyone can create a new type from scratch
    to better satisfy your own needs.
    </p>

    <p class="lead">
    Do you want to build your first type? <a href="/how">Learn how</a>.
    </p>

    <h3>Call for action</h3>
    <p class="lead">
    The definition of a type, also the simplest one, requires time and the expertises of people
    working in the field. If you feel like, don't hesitate to <a mailto:touch@lelylan.com>Mail</a>,
    <a href="http://twitter.com/lelylan">Tweet</a> or leave us a comment. We really need your
    help in this phase of the project.
    </p>

    <h3>What's next?</h3>
    <p class="lead">
    Now that should be clear what a type is, learn how to <a href="/how">create a new one</a>.
    </p>

  </div>
</div>
