<div class="what presentation">

  <h1 class="title">What is Lelylan Types</h1>

  <div class="description">

    <p class="lead">
    Lelylan Types gives you a platform to define and discuss the structure of any device like
    lights, locks, thermostats and more. Why? Because to create an open connected home we need
    an open and clear definition of how those devices works.
    </p>

    <img src="/images/what-search.png" class="img-polaroid">

    <h2>The Pain</h2>
    <p class="lead">
      Right now we have dozens of standards: Wifi, Zigbee, Ethernet, Konnex, X10 to name some.
      If you want to let every device communicate between each other you will have hard time. This
      is one of the reasons why the connected home is not yet a reality.
    </p>

    <h2>The Solution</h2>
    <p class="lead">
      Our solution to this problem is to create a type, which in its simplest form can
      be defined as the combination of three key elements:
    </p>

    <ul>
      <li>Properties: what vary during time</li>
      <li>Functions: what a device can do</li>
      <li>Statuses: what a device is in a specific moment</li>
    </ul>

    <p class="lead">
      Learn <a href="/how">how to create a new type</a>.
    </p>

    <h2>A Simple Example</h2>
    <p class="lead">
      The simples example is the <a href="#">Basic Light</a> which can be defined as follow.
    </p>

    <ul>
      <li>Properties: <code>status</code> (accepts values <code>on</code>, <code>off</code>)</li>
      <li>Functions: <code>turn on</code> and <code>turn off</code></li>
      <li>Statuses: <code>light on</code> and <code>light off</code></li>
    </ul>

    <h2>Ad Hoc Types</h2>
    <p class="lead">
      Although we are trying to define a standard set of types we are aware of the fact that
      every need can be different. For this reason everyone can create a new type from scratch
      to better satisfy your own needs.
    </p>

    <h2>Call for action</h2>
    <p class="lead">
    The definition of a type, also the simplest one, requires time and the expertises of people
    working in the field. If you feel like, don't hesitate and leave a comment. It will surely
    help to define a better set of types.
    </p>

    <h2>Open Source</h2>
    <p class="lead">
      Lelylan Types is based on <a href="http://dev.lelylan.com/api/types">Lelylan Types API</a>
      (still in private beta) and it is released as an open source project on
      <a href="https://github.com/lelylan/types-dashboard">Github</a>.
    </p>

  </div>
</div>
